services:
  overseerr:
    image: linuxserver/overseerr:1.34.0@sha256:987a6bd200a88501a5fa0cfa0c3179acd83e5b0af986da1537b70f44cfe059b8
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/overseerr:/config
    networks:
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5055/api/v1/status"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512M
    labels:
      caddy: overseerr.jaw.dev
      caddy.import: auth
      caddy.reverse_proxy: "{{upstreams 5055}}"

networks:
  proxy:
    external: true
