services:
  bang:
    image: ghcr.io/wajeht/bang:0927937
    env_file:
      - .enc.env
    environment:
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/bang:/usr/src/app/dist/src/db/sqlite
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.bang.rule=Host(`bang.jaw.dev`)"
        - "traefik.http.routers.bang.entrypoints=websecure"
        - "traefik.http.services.bang.loadbalancer.server.port=80"
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
