services:
  portainer:
    image: portainer/portainer-ce:2.24.1-alpine@sha256:432d730b97f375e5e34e9d48339d7dfe4a012f1db5d437067f7c91e4c1f35a66
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/jaw/data/portainer:/data
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:9000/api/system/status"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.portainer.rule=Host(`portainer.jaw.dev`)"
        - "traefik.http.routers.portainer.entrypoints=websecure"
        - "traefik.http.routers.portainer.middlewares=authelia@file"
        - "traefik.http.services.portainer.loadbalancer.server.port=9000"
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
