services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.10.1@sha256:0b596092c0b55fe4c65379a428a3fe90bd192f10d1b07d189a34fe5fabe7eedb
    env_file:
      - .env
    environment:
      TZ: America/Chicago
      HOMEPAGE_ALLOWED_HOSTS: home.jaw.dev
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 256M
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.rule=Host(`home.jaw.dev`)"
      - "traefik.http.routers.homepage.entrypoints=websecure"
      - "traefik.http.routers.homepage.middlewares=auth-admin@file"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"
networks:
  traefik:
    external: true
