services:
  plex:
    image: linuxserver/plex:1.43.0@sha256:66c6a46ec3dc244aea20508b49dce4b46291c2fd2dba8851117e675d1c5dd52d
    container_name: plex
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      - VERSION=docker
    volumes:
      - /home/jaw/data/media/plex:/config
      - /home/jaw/plex/movies:/movies
      - /home/jaw/plex/tv:/tv
      - /home/jaw/plex/music:/music
    devices:
      - /dev/dri:/dev/dri
    ports:
      - "32400:32400"
    networks:
      - traefik
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plex.rule=Host(`plex.jaw.dev`)"
      - "traefik.http.routers.plex.entrypoints=websecure"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"

networks:
  traefik:
    external: true
