services:
  stirling-pdf:
    image: frooodle/s-pdf:2.4.3@sha256:515364d7c2005fe5dcfdf56b4750b165875bbb6a0a1dced1957c59c8cde61c07
    environment:
      - TZ=America/Chicago
      - DOCKER_ENABLE_SECURITY=false
    volumes:
      - /home/jaw/data/stirling-pdf:/usr/share/tessdata
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/v1/info/status"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.stirling-pdf.rule=Host(`pdf.jaw.dev`)"
        - "traefik.http.routers.stirling-pdf.entrypoints=websecure"
        - "traefik.http.routers.stirling-pdf.middlewares=authelia@file"
        - "traefik.http.services.stirling-pdf.loadbalancer.server.port=8080"

networks:
  traefik:
    external: true
