services:
  ufc:
    image: ghcr.io/wajeht/ufc:v0.1.3
    environment:
      TZ: America/Chicago
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.ufc.rule=Host(`ufc.wajeht.com`)"
        - "traefik.http.routers.ufc.entrypoints=websecure"
        - "traefik.http.routers.ufc.tls=true"
        - "traefik.http.routers.ufc.tls.certresolver=cloudflare"
        - "traefik.http.services.ufc.loadbalancer.server.port=80"
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      rollback_config:
        parallelism: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
