services:
  notify:
    image: ghcr.io/wajeht/notify:bb32588
    env_file:
      - .env
    environment:
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/notify:/usr/src/app/dist/src/db/sqlite
    networks:
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
    labels:
      caddy: notify.jaw.dev
      caddy.reverse_proxy: "{{upstreams 80}}"

networks:
  proxy:
    external: true
