services:
  notify:
    image: ghcr.io/wajeht/notify:ab9dafb
    env_file:
      - .env
    environment:
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/notify:/usr/src/app/dist/src/db/sqlite
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.notify.rule=Host(`notify.jaw.dev`)"
      - "traefik.http.routers.notify.entrypoints=websecure"
      - "traefik.http.services.notify.loadbalancer.server.port=80"

networks:
  traefik:
    external: true
