services:
  notify:
    image: ghcr.io/wajeht/notify:398d36f@sha256:9d9c82883a3841fc2b8a7462a74efc07b5ecb02c687719c0097420967099d59d
    env_file:
      - .enc.env
    environment:
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/notify:/usr/src/app/dist/src/db/sqlite
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.notify.rule=Host(`notify.jaw.dev`)"
        - "traefik.http.routers.notify.entrypoints=websecure"
        - "traefik.http.services.notify.loadbalancer.server.port=80"
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
