services:
  radarr:
    image: linuxserver/radarr:6.0.4@sha256:f08dda38e7d12e5a722d9a5cb6e54acaf63c8598fefeefec88effe0c0d0038dd
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/radarr:/config
      - /home/jaw/plex/downloads:/downloads
      - /home/jaw/plex/movies:/movies
    networks:
      - proxy
      - media
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7878/ping"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1G
    labels:
      caddy: radarr.jaw.dev
      caddy.import: auth
      caddy.reverse_proxy: "{{upstreams 7878}}"

networks:
  proxy:
    external: true
  media:
    external: true
