services:
  radarr:
    image: linuxserver/radarr:6.1.1-develop@sha256:6afdfd2bd5dcceb7a43d7fd9a71560f9ba35e946b5602ac26099b58a1008377a
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/radarr:/config
      - /home/jaw/plex:/data
    networks:
      - traefik
      - media
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7878/ping"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1G
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.jaw.dev`)"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.http.routers.radarr.middlewares=google-auth@file"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
networks:
  traefik:
    external: true
  media:
    external: true
