services:
  www:
    image: ghcr.io/wajeht/jaw.dev:18bfa8d@sha256:7bf24d9f582083a7148bdc612dc746f8245ba55c395e1734677b0b2eb46502d2
    environment:
      - TZ=America/Chicago
      - HTTP_PORT=80
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.www.rule=Host(`jaw.dev`) || Host(`www.jaw.dev`)"
        - "traefik.http.routers.www.entrypoints=websecure"
        - "traefik.http.services.www.loadbalancer.server.port=80"
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
