services:
  docker-cd:
    image: ghcr.io/wajeht/docker-cd:v0.1.48
    container_name: docker-cd
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /home/jaw/data/docker-cd:/home/jaw/data/docker-cd
      - ./docker-cd.yml:/config/docker-cd.yml:ro
      - /home/jaw/.sops/age-key.txt:/sops/age-key.txt:ro
      - /home/jaw/.docker/config.json:/root/.docker/config.json:ro
      - /sys/class/thermal:/sys/class/thermal:ro
      - /proc/meminfo:/proc/meminfo:ro
    environment:
      TZ: America/Chicago
      HTTP_PORT: "80"
      DEBUG: "true"
      DATA_PATH: /home/jaw/data/docker-cd
      CONFIG_FILE: /config/docker-cd.yml
      BRANCH: main
      INTERVAL: 5m
      SOPS_AGE_KEY_FILE: /sops/age-key.txt
      GIT_ACCESS_TOKEN: ${GIT_ACCESS_TOKEN}
      ENABLE_BADGES: "true"
      API_SECRET: ${API_SECRET}
      NOTIFICATION_URL: http://ntfy:80/docker-cd?template=docker-cd&markdown=yes
    labels:
      caddy: cd.jaw.dev
      caddy.handle_0: /api/*
      caddy.handle_0.import: api-public
      caddy.handle_0.reverse_proxy: "{{upstreams 80}}"
      caddy.handle_1: /badges/*
      caddy.handle_1.import: public
      caddy.handle_1.reverse_proxy: "{{upstreams 80}}"
      caddy.handle_2: "*"
      caddy.handle_2.import: auth
      caddy.handle_2.reverse_proxy: "{{upstreams 80}}"
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true
