services:
  docker-cd:
    image: ghcr.io/wajeht/docker-cd:v0.1.43
    container_name: docker-cd
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /home/jaw/data/docker-cd:/home/jaw/data/docker-cd
      - ./docker-cd.yml:/config/docker-cd.yml:ro
      - /home/jaw/.sops/age-key.txt:/sops/age-key.txt:ro
      - /home/jaw/.docker/config.json:/root/.docker/config.json:ro
      - /sys/class/thermal:/sys/class/thermal:ro
      - /proc/meminfo:/proc/meminfo:ro
    environment:
      TZ: America/Chicago
      HTTP_PORT: "80"
      DEBUG: "true"
      DATA_PATH: /home/jaw/data/docker-cd
      CONFIG_FILE: /config/docker-cd.yml
      BRANCH: main
      INTERVAL: 30s
      SOPS_AGE_KEY_FILE: /sops/age-key.txt
      GIT_ACCESS_TOKEN: ${GIT_ACCESS_TOKEN}
      NOTIFICATION_URL: http://ntfy:80/docker-cd?template=docker-cd&markdown=yes
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.docker-cd.rule=Host(`cd.jaw.dev`)"
      - "traefik.http.routers.docker-cd.entrypoints=websecure"
      - "traefik.http.routers.docker-cd.middlewares=google-auth@file"
      - "traefik.http.routers.docker-cd-badges.rule=Host(`cd.jaw.dev`) && PathPrefix(`/badges/`)"
      - "traefik.http.routers.docker-cd-badges.entrypoints=websecure"
      - "traefik.http.routers.docker-cd-badges.priority=100"
      - "traefik.http.services.docker-cd.loadbalancer.server.port=80"
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    external: true
