services:
  mm2us:
    image: ghcr.io/wajeht/mm2us.com:ba12d03
    env_file:
      - .env
    environment:
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/mm2us:/usr/src/app/dist/src/db/sqlite
    networks:
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
    labels:
      caddy: "mm2us.com www.mm2us.com"
      caddy.import: cf-tls
      caddy.reverse_proxy: "{{upstreams 80}}"

networks:
  proxy:
    external: true
