services:
  gains:
    image: ghcr.io/wajeht/gains:8966fe7@sha256:f0ccdfe81a3f07bd24a584674861fa3c02956610ca7202dd2240b9a9e13022b7
    env_file:
      - .enc.env
    environment:
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/gains:/usr/src/app/src/db/sqlite
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.gains.rule=Host(`gains.jaw.dev`)"
        - "traefik.http.routers.gains.entrypoints=websecure"
        - "traefik.http.services.gains.loadbalancer.server.port=80"
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
