services:
  hello-world:
    image: ghcr.io/wajeht/hello-world:v0.2.0
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:8080/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.hello-world.rule=Host(`hello.wajeht.com`)"
        - "traefik.http.routers.hello-world.entrypoints=websecure"
        - "traefik.http.routers.hello-world.tls=true"
        - "traefik.http.routers.hello-world.tls.certresolver=letsencrypt"
        - "traefik.http.services.hello-world.loadbalancer.server.port=8080"
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      rollback_config:
        parallelism: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
