title: Home Ops
favicon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/png/docker.png
color: slate
headerStyle: clean
hideVersion: true
showStats: false
cardBlur: sm
layout:
  Infrastructure:
    style: row
    columns: 3
  Media:
    style: row
    columns: 3
  Downloads:
    style: row
    columns: 5
  Tools:
    style: row
    columns: 4
  Apps:
    style: row
    columns: 3
