services:
  prowlarr:
    image: linuxserver/prowlarr:2.3.0@sha256:5339e9050cfcc0cb5331e9c98610ed9d4ce70ef481a5461ea664a13dda3f1eb0
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/prowlarr:/config
    networks:
      - proxy
      - media
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9696/ping"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512M
    labels:
      caddy: prowlarr.jaw.dev
      caddy.import: auth
      caddy.reverse_proxy: "{{upstreams 9696}}"

networks:
  proxy:
    external: true
  media:
    external: true
