services:
  bazarr:
    container_name: bazarr
    image: linuxserver/bazarr:1.5.6-development@sha256:01a27dd30948938e6b397ab9fa5b8ccd1c611047be5bef50d40a10f7379d12b1
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/bazarr:/config
      - /home/jaw/plex:/data
    networks:
      - traefik
      - media
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6767"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.jaw.dev`)"
      - "traefik.http.routers.bazarr.entrypoints=websecure"
      - "traefik.http.routers.bazarr.middlewares=google-auth@file"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
networks:
  traefik:
    external: true
  media:
    external: true
