services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    volumes:
      - /home/jaw/data/uptime-kuma:/app/data
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "node", "extra/healthcheck.js"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.uptime-kuma.rule=Host(`status.wajeht.com`)"
        - "traefik.http.routers.uptime-kuma.entrypoints=websecure"
        - "traefik.http.services.uptime-kuma.loadbalancer.server.port=3001"

networks:
  traefik:
    external: true
