services:
  uptime-kuma:
    image: louislam/uptime-kuma:2@sha256:da418b1f5655c12d2d62aa3d189117bfad5d83c2ab99bb3e82b2eaaf5246bbc1
    volumes:
      - /home/jaw/data/uptime-kuma:/app/data
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "node", "extra/healthcheck.js"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 256M
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uptime-kuma.rule=Host(`status.jaw.dev`)"
      - "traefik.http.routers.uptime-kuma.entrypoints=websecure"
      - "traefik.http.routers.uptime-kuma.middlewares=rate-limit-auth@file,google-auth-user@file"
      - "traefik.http.services.uptime-kuma.loadbalancer.server.port=3001"
networks:
  traefik:
    external: true
