services:
  www:
    image: ghcr.io/wajeht/jaw.dev:c1c8c79
    environment:
      - TZ=America/Chicago
      - HTTP_PORT=80
    networks:
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
    labels:
      caddy: "jaw.dev www.jaw.dev"
      caddy.import: cf-tls
      caddy.reverse_proxy: "{{upstreams 80}}"

networks:
  proxy:
    external: true
