services:
  www:
    image: ghcr.io/wajeht/jaw.dev:e7c5cd8
    environment:
      - TZ=America/Chicago
      - HTTP_PORT=80
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.www.rule=Host(`jaw.dev`) || Host(`www.jaw.dev`)"
      - "traefik.http.routers.www.entrypoints=websecure"
      - "traefik.http.services.www.loadbalancer.server.port=80"

networks:
  traefik:
    external: true
