services:
  commit:
    image: ghcr.io/wajeht/commit:4b04e94
    networks:
      - proxy
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
    labels:
      caddy: commit.jaw.dev
      caddy.reverse_proxy: "{{upstreams 80}}"

networks:
  proxy:
    external: true
