services:
  it-tools:
    image: corentinth/it-tools:2024.5.13-a0bc346@sha256:c191615f23eb6a18b8faca4dba15fc11caefea250ce3a8e29d249757544092eb
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.it-tools.rule=Host(`tools.jaw.dev`)"
        - "traefik.http.routers.it-tools.entrypoints=websecure"
        - "traefik.http.routers.it-tools.middlewares=authentik@file"
        - "traefik.http.services.it-tools.loadbalancer.server.port=80"

networks:
  traefik:
    external: true
