services:
  tautulli:
    image: linuxserver/tautulli:2.16.0@sha256:31bce3c8457e74392c8c451eee315a759f8b96ec7cff6060596152d7e893b776
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/tautulli:/config
    networks:
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8181/status"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 256M
    labels:
      caddy: tautulli.jaw.dev
      caddy.import: auth
      caddy.reverse_proxy: "{{upstreams 8181}}"

networks:
  proxy:
    external: true
