services:
  calendar:
    image: ghcr.io/wajeht/calendar:fdd618f
    env_file:
      - .env
    environment:
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/calendar:/usr/src/app/src/db/sqlite
    networks:
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
    labels:
      caddy: calendar.jaw.dev
      caddy.import: public
      caddy.reverse_proxy: "{{upstreams 80}}"

networks:
  proxy:
    external: true
