services:
  favicon:
    image: ghcr.io/wajeht/favicon:484ef1a
    environment:
      TZ: America/Chicago
    volumes:
      - /home/jaw/data/favicon:/app/data
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:80/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.favicon.rule=Host(`favicon.jaw.dev`)"
        - "traefik.http.routers.favicon.entrypoints=websecure"
        - "traefik.http.routers.favicon.tls=true"
        - "traefik.http.services.favicon.loadbalancer.server.port=80"
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      rollback_config:
        parallelism: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
