# Dynamic config for non-swarm services (docker-compose)
http:
  middlewares:
    authelia:
      forwardAuth:
        address: http://authelia:9091/api/authz/forward-auth
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
          - Remote-Email
          - Remote-Name

  routers:
    qbittorrent:
      rule: "Host(`qbit.wajeht.com`)"
      entrypoints:
        - websecure
      service: qbittorrent
      middlewares:
        - authelia
      tls: {}

  services:
    qbittorrent:
      loadBalancer:
        servers:
          - url: "http://gluetun:8085"
