# Dynamic config for non-swarm services (docker-compose)
http:
  middlewares:
    redirect-to-main:
      redirectRegex:
        regex: ".*"
        replacement: "https://jaw.dev"
        permanent: true

    authelia:
      forwardAuth:
        address: http://authelia:9091/api/authz/forward-auth
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
          - Remote-Email
          - Remote-Name

  routers:
    # Catch-all for unknown subdomains (low priority)
    catchall:
      rule: "HostRegexp(`{subdomain:[a-z0-9-]+}.jaw.dev`)"
      entrypoints:
        - websecure
      middlewares:
        - redirect-to-main
      service: noop@internal
      priority: 1
      tls: {}

    qbittorrent:
      rule: "Host(`qbit.jaw.dev`)"
      entrypoints:
        - websecure
      service: qbittorrent
      middlewares:
        - authelia
      tls: {}

  services:
    qbittorrent:
      loadBalancer:
        servers:
          - url: "http://gluetun:8085"
