services:
  ip:
    image: ghcr.io/wajeht/ip:40c50ed@sha256:8b5bb5848c53e040ed902edd2d39b4ae261fca0529a1a257cb3b35871deea0e2
    environment:
      - TZ=America/Chicago
      - PORT=80
      - NODE_ENV=production
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.ip.rule=Host(`ip.jaw.dev`)"
        - "traefik.http.routers.ip.entrypoints=websecure"
        - "traefik.http.services.ip.loadbalancer.server.port=80"
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
