source_directories:
  - /source/data
  - /source/sops

repositories:
  - path: /repository
    label: nas

archive_name_format: '{hostname}-{now:%Y-%m-%d-%H%M%S}'

compression: zstd,3

keep_daily: 7
keep_weekly: 4
keep_monthly: 6

commands:
  - before: action
    when: [create]
    run:
      - echo "Starting backup"
  - after: error
    run:
      - printf '{"content":"**Borgmatic backup FAILED**"}' | curl -sS -X POST "${DISCORD_WEBHOOK}" -H "Content-Type: application/json" -d @-
