source_directories:
  - /source/data
  - /source/sops

repositories:
  - path: /repository
    label: nas

archive_name_format: "{hostname}-{now:%Y-%m-%d-%H%M%S}"

compression: zstd,3

keep_daily: 7
keep_weekly: 4
keep_monthly: 6

ntfy:
  topic: borgmatic
  server: http://ntfy:80
  finish:
    title: Backup complete
    message: Borgmatic backup finished successfully
    priority: min
    tags: white_check_mark
  fail:
    title: Backup FAILED
    message: Borgmatic backup has failed
    priority: max
    tags: skull
  states:
    - finish
    - fail
