services:
  doco-cd:
    image: ghcr.io/kimdre/doco-cd:0.61.0@sha256:f8968e5b1f51ca1893a8ea929b3bbf2e63992a1a8aa471362d27a78e85c286c1
    depends_on:
      - apprise
    ports:
      - "9120:9120"
    environment:
      TZ: America/Chicago
      LOG_LEVEL: info
      MAX_DEPLOYMENT_LOOP_COUNT: "3"
      APPRISE_API_URL: http://apprise:8000/notify
      APPRISE_NOTIFY_LEVEL: success
      SOPS_AGE_KEY_FILE: /sops/age-key.txt
      GIT_ACCESS_TOKEN_FILE: /run/secrets/gh_token
      WEBHOOK_SECRET_FILE: /run/secrets/webhook_secret
      POLL_CONFIG: |
        - url: https://github.com/wajeht/home-ops.git
          reference: refs/heads/main
          interval: 60
          auto_discover: true
          auto_discover_opts:
            working_dir: apps
            delete: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/jaw/data/doco-cd:/data
      - ${HOME}/.sops/age-key.txt:/sops/age-key.txt:ro
      - ${HOME}/.docker/config.json:/root/.docker/config.json:ro
    secrets:
      - gh_token
      - webhook_secret
    networks:
      - traefik
      - default
    healthcheck:
      test: ["CMD", "/doco-cd", "healthcheck"]
      start_period: 15s
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.doco-cd.rule=Host(`doco.jaw.dev`)"
        - "traefik.http.routers.doco-cd.entrypoints=websecure"
        - "traefik.http.routers.doco-cd.tls=true"
        - "traefik.http.routers.doco-cd.middlewares=authelia@file"
        - "traefik.http.services.doco-cd.loadbalancer.server.port=80"
      placement:
        constraints:
          - node.role == manager
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      rollback_config:
        parallelism: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

  apprise:
    image: caronc/apprise:v1.3.1@sha256:6b112f8f174244f4a73b8e1254c9bde1fa562a6a428010aeaff1c18bc98d2713
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/status"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      rollback_config:
        parallelism: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true

secrets:
  gh_token:
    external: true
  webhook_secret:
    external: true
