theme: dark
default_2fa_method: totp

server:
  address: tcp://0.0.0.0:9091/

log:
  level: info

totp:
  issuer: jaw.dev

webauthn:
  disable: false
  enable_passkey_login: true
  display_name: jaw.dev
  attestation_conveyance_preference: indirect
  timeout: 60s
  selection_criteria:
    user_verification: preferred

authentication_backend:
  file:
    path: /config/users.yml
    password:
      algorithm: argon2id

access_control:
  default_policy: deny
  rules:
    - domain: "auth.jaw.dev"
      policy: two_factor
    - domain: "*.jaw.dev"
      policy: one_factor

session:
  secret: "{{ secret '/run/secrets/authelia_session_secret' | msquote }}"
  name: authelia_session
  same_site: lax
  expiration: 1h
  inactivity: 5m
  remember_me: 1M
  cookies:
    - domain: jaw.dev
      authelia_url: https://auth.jaw.dev

storage:
  encryption_key: "{{ secret '/run/secrets/authelia_storage_encryption_key' | msquote }}"
  local:
    path: /config/db.sqlite3

notifier:
  smtp:
    address: smtp://smtp.mail.me.com:587
    username: konyeiin@icloud.com
    password: "{{ secret '/run/secrets/authelia_smtp_password' | msquote }}"
    sender: "Authelia <mail@jaw.dev>"
    disable_startup_check: true

identity_validation:
  reset_password:
    jwt_secret: "{{ secret '/run/secrets/authelia_jwt_secret' | msquote }}"
