theme: dark
default_2fa_method: totp

server:
  address: tcp://0.0.0.0:9091/

log:
  level: info

totp:
  issuer: jaw.dev

authentication_backend:
  file:
    path: /config/users.yml
    password:
      algorithm: argon2id

access_control:
  default_policy: deny
  rules:
    - domain: "*.jaw.dev"
      policy: one_factor

session:
  name: authelia_session
  same_site: lax
  expiration: 1h
  inactivity: 5m
  remember_me: 1M
  cookies:
    - domain: jaw.dev
      authelia_url: https://auth.jaw.dev

storage:
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notifications.txt
