services:
  git:
    image: ghcr.io/wajeht/git:924cd2d
    environment:
      - TZ=America/Chicago
      - APP_PORT=80
      - APP_ENV=production
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.git.rule=Host(`git.wajeht.com`)"
        - "traefik.http.routers.git.entrypoints=websecure"
        - "traefik.http.services.git.loadbalancer.server.port=80"
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
