services:
  close-powerlifting:
    image: ghcr.io/wajeht/close-powerlifting:5b49633@sha256:bd777d12d002887b14699309fb1a45d51b67e47f2fc7528d8ecd59d3618920f8
    env_file:
      - .enc.env
    environment:
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/close-powerlifting:/usr/src/app/dist/src/db/sqlite
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.close-powerlifting.rule=Host(`closepowerlifting.com`) || Host(`www.closepowerlifting.com`)"
        - "traefik.http.routers.close-powerlifting.entrypoints=websecure"
        - "traefik.http.services.close-powerlifting.loadbalancer.server.port=80"
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  traefik:
    external: true
