services:
  close-powerlifting:
    image: ghcr.io/wajeht/close-powerlifting:8a013c1
    env_file:
      - .env
    environment:
      - TZ=America/Chicago
    volumes:
      - /home/jaw/data/close-powerlifting:/usr/src/app/dist/src/db/sqlite
    networks:
      - traefik
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.close-powerlifting.rule=Host(`closepowerlifting.com`) || Host(`www.closepowerlifting.com`) || Host(`close-powerlifting.jaw.dev`)"
      - "traefik.http.routers.close-powerlifting.entrypoints=websecure"
      - "traefik.http.services.close-powerlifting.loadbalancer.server.port=80"

networks:
  traefik:
    external: true
